.about__container {
  gap: 2rem;
  max-width: var(--big-screen-width);
  margin: 4rem auto;
}

@media (min-width: 600px) {
  .about__container {
    grid-template-columns: 1fr 200px;
    grid-column-gap: 2rem;
  }
}
